*.keras filter=lfs
*.h5 filter=lfs
*.7z filter=lfs
*.arrow filter=lfs
*.bin filter=lfs
*.bz2 filter=lfs
*.ckpt filter=lfs
*.ftz filter=lfs
*.gz filter=lfs
*.joblib filter=lfs
*.lfs.* filter=lfs
*.mlmodel filter=lfs
*.model filter=lfs
saved_model/**/* filter=lfs
*.tar.* filter=lfs
*.tar filter=lfs
*.tflite filter=lfs
*.tgz filter=lfs
*.wasm filter=lfs
*.xz filter=lfs
*.zip filter=lfs
*.zst filter=lfs
*tfevents* filter=lfs
